@import url(./global.css);

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .introduction {
    .hero-title {
      color: var(--content-primary);
      font: var(--fw-bold) var(--fs-title) / var(--lh-title) var(--ff-base);
    }

    .hero-description {
      color: var(--content-secondary);
      font: var(--fw-md) var(--fs-paragraph-md) / var(--lh-paragraph-md)
        var(--ff-inter-tight);
    }
  }
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .schedule-period {
    background-color: var(--background-tertiary);
    border-radius: 0.625rem;

    .schedule-header {
      padding: 0.75rem 1.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info {
        display: flex;
        align-items: center;

        .period-name {
          margin-left: 0.75rem;
          font: var(--fw-bold) var(--fs-label-lg) / var(--lh-paragraph-md)
            var(--ff-inter-tight);
          color: var(--content-primary);
        }
      }

      .period-time {
        font: var(--fw-bold) var(--fs-label-lg) / var(--lh-paragraph-md)
          var(--ff-inter-tight);
        color: var(--content-secondary);
      }
    }

    .period-list {
      border-top: 1px solid var(--border-divisor);
      padding: 1.25rem;

      .appointment {
        display: flex;
        align-items: center;
        padding: 0.75rem;

        &:not(:last-child) {
          border-bottom: 1px solid var(--border-divisor);
        }

        .appointment-time {
          font: var(--fw-sb) var(--fs-label-sm) / var(--lh-label-sm)
            var(--ff-inter-tight);
          color: var(--content-primary);
          margin-right: 1rem;
        }

        .appointment-details {
          flex: 1;
          display: flex;
          align-items: center;
          .pet-name {
            font: var(--fw-sb) var(--fs-label-sm) / var(--lh-label-sm)
              var(--ff-base);
            color: var(--content-primary);
          }

          .owner-name {
            margin-left: 0.25rem;
            font: var(--fw-sm) var(--fs-paragraph-sm) / var(--lh-paragraph-sm)
              var(--ff-base);
            color: var(--content-secondary);
          }
        }

        .service-name {
          flex: 1;
          font: var(--fw-sm) var(--fs-paragraph-sm) / var(--lh-paragraph-sm)
            var(--ff-base);
          color: var(--content-secondary);
        }

        .remove-button {
          font: var(--fw-sm) var(--fs-paragraph-sm) / var(--lh-paragraph-sm)
            var(--ff-base);
          color: var(--content-tertiary);
          border: none;
          background: none;
          cursor: pointer;
        }
      }
    }
  }
}

.btn-primary {
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font: var(--fw-bold) var(--fs-label-lg) / var(--lh-label-lg)
    var(--ff-inter-tight);
  background-color: var(--background-brand);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);
  cursor: pointer;
}

.schedule-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);

  & form {
    padding: 2.5rem;
    border-radius: 0.75rem;
    max-width: 29.8125rem;
    background-color: var(--background-tertiary);
    & header {
      & h2 {
        font: var(--fw-bold) var(--fs-title) / var(--lh-title)
          var(--ff-inter-tight);
        color: var(--content-primary);
        margin-bottom: 0.25rem;
      }
      & p {
        font: var(--fw-md) var(--fs-paragraph-md) / var(--lh-paragraph-md)
          var(--ff-base);
        color: var(--content-secondary);
        margin-bottom: 1.75rem;
      }
    }
    label {
      font: var(--fw-bold) var(--fs-label-md) / var(--lh-label-md)
        var(--ff-base);
      color: var(--content-primary);
    }

    & .input-wrapper {
      margin-bottom: 1rem;
      & .input {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        padding: 0.75rem;
        margin-top: 0.25rem;

        border-radius: 0.5rem;
        border: 1px solid var(--border-primary);
        & input,
        textarea {
          width: 100%;
          background-color: transparent;
          border: none;
        }
      }
    }
    & .box-wrapper {
      display: flex;
      gap: 1rem;
    }
    .btn-primary {
      text-align: right;
    }
  }
}

@media (width <= 42.875em) {
  .hero {
    gap: 0.75rem;
    flex-direction: column;
    align-items: start;
  }

  .btn-primary {
    box-shadow: 0px 0px 20px rgba(146, 130, 250, 0.3);
  }

  .schedule {
    & .schedule-period {
      & .period-list {
        .appointment {
          display: grid;
          grid-template-areas:
            "appointment-time appointment-details"
            "service-name service-name"
            "remove-button remove-button";
          grid-template-columns: auto 1fr;
          & .appointment-time {
            grid-area: appointment-time;
          }
          & .appointment-details {
            grid-area: appointment-details;
          }
          & .service-name {
            margin-block: 1rem;
            grid-area: service-name;
          }
          & .remove-button {
            text-align: right;
            grid-area: remove-button;
          }
        }
      }
    }
  }
}
