@import url(./global.css);

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
  & .introduction {
    h1 {
      color: var(--content-primary);

      font: var(--fw-bold) var(--fs-title) / var(--lh-title) var(--ff-base);
    }
    p {
      color: var(--content-secondary);

      font: var(--fw-md) var(--fs-paragraph-md) / var(--lh-paragraph-md)
        var(--ff-inter-tight);
    }
  }
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  & .schedule-period {
    border-radius: 0.625rem;
    background-color: var(--background-tertiary);
    header {
      padding: 0.75rem 1.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info {
        display: flex;
        align-items: center;
        strong {
          margin-left: 0.75rem;
          font: var(--fw-bold) var(--fs-label-lg) / var(--lh-paragraph-md)
            var(--ff-inter-tight);

          color: var(--content-primary);
        }
      }
      & span {
        font: var(--fw-bold) var(--fs-label-lg) / var(--lh-paragraph-md)
          var(--ff-inter-tight);

        color: var(--content-secondary);
      }
    }
    ul {
      border-top: 1px solid var(--border-divisor);

      padding: 1.25rem;
      & li {
        display: flex;
        align-items: center;
        padding: 0.75rem;
        & strong {
          font: var(--fw-bold) var(--fs-label-md) / var(--lh-paragraph-md)
            var(--ff-inter-tight);

          color: var(--content-primary);

          margin-right: 1rem;
        }
        & p {
          flex: 1;
          & span:nth-child(1) {
            font: var(--fw-sb) var(--fs-label-sm) / var(--lh-label-sm)
              var(--ff-base);
            color: var(--content-primary);
          }
          & span:nth-child(2) {
            font: var(--fw-sm) var(--fs-paragraph-sm) / var(--lh-paragraph-sm)
              var(--ff-base);
            color: var(--content-secondary);
          }
        }
        & span:nth-child(3) {
          flex: 1;

          font: var(--fw-sm) var(--fs-paragraph-sm) / var(--lh-paragraph-sm)
            var(--ff-base);
          color: var(--content-secondary);
        }
        & button {
          font: var(--fw-sm) var(--fs-paragraph-sm) / var(--lh-paragraph-sm)
            var(--ff-base);
          color: var(--content-tertiary);

          border: none;
          background: none;

          cursor: pointer;
        }
      }
    }
  }
}
